.cart {
  justify-self: end;
  align-self: center;
  position: relative;
}

.cart__count {
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  position: absolute;
  top: 3px;
  right: -6px;

  background-color: var(--ui-orange-color);
  border-radius: 40px;

  font-family: var(--products-font);
  line-height: 25px;
  font-weight: 700;

}