.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 20px;
  gap: 10px;

  width: 344px;
  height: 56px;

  background: rgba(255, 255, 255, 0.15);
  border: 0.861538px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 42px;
}

.search-form__input {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--second-color-white);
  flex-grow: 1;

  &::placeholder {
    font-weight: 400;
    color: var(--second-color-white);
    opacity: 0.8;
  }
}

.search-form__btn {
  width: 40px;
  height: 40px;
  background: var(--accent-color);
  border-radius: 24px;
  flex-shrink: 0;
}


